<header class="hero bg-indigo-600 text-white rounded-lg shadow-xl mb-8 p-10 flex justify-center items-center">
  <div class="max-w-xl w-full text-center">
    <h1 class="text-4xl md:text-5xl font-extrabold mb-4">Explorador Pokémon</h1>
    <p class="py-4 text-lg opacity-90 flex items-center justify-center gap-3">
      <i class="fas fa-music text-black text-2xl"></i>
      <span>Tengo que ser siempre el mejor mejor que nadie más Atraparlos mi prueba es Entrenarlos, mi ideal</span>
      <i class="fas fa-music text-black text-2xl"></i>
    </p>
   <p class="text-4xl font-bold"><strong>"Pokémon"</strong></p>


    <div class="stats stats-horizontal bg-base-100 text-gray-800 shadow-2xl mt-6 w-full">
      
      <article class="stat p-4">
        <div class="stat-title text-xs font-bold text-gray-950 uppercase">Pokemons</div>
        <div class="stat-value text-3xl font-extrabold text-primary">{{ pokemoncount() }}</div>
        <div class="stat-desc text-gray-600">Total de registros</div>
      </article>
      
      <article class="stat p-4">
        <div class="stat-title text-xs font-bold text-gray-950 uppercase">Paginas</div>
        <div class="stat-value text-3xl font-extrabold text-secondary">
          {{ currentPage() }} / {{ totalPages() }}
        </div>
        <div class="stat-desc text-gray-600">Total disponibles</div>
      </article>
      
    </div>
  </div>
</header>